.row {
  margin-left: 20px;
  color: white;
}

.row-posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row-posters::-webkit-scrollbar {
  padding: 10px;
}

.row-poster {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  margin-right: 10px;
  transition: transform 450ms;
}

.row-poster:hover {
  transform: scale(1.07);
  opacity: 1;
  cursor: pointer;
}

.row-posterLarge {
  max-height: 250px;
}

.row-posterLarge:hover {
  transform: scale(1.09);
  cursor: pointer;
}
